extends layout

block content
    //- h1= title
    div.row
        div.col-md-3.thumbnail
            span.title| Brindar con meo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/violencia___brindar_con_meo_by_somosbosteros-d6yupvl.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Anteojos de ver pelotudas
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/violencia_anteojos_pelotudas_by_somosbosteros-d6z0xzn.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Feliz Año Nuevo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/violencia_feliz_a_ntilde_o_nuevo_by_somosbosteros-d6z0xxe.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| El pase a la CDTH
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/violencia_el_pase_a_la_cdth_by_somosbosteros-d6z0xxy.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Metete tu cariño en el culo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/violencia_metete_tu_cari_ntilde_o_en_el_culo_by_somosbosteros-d6z0xwg.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Día del sorete a pedal
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/violencia_dia_del_sorete_a_pedal_by_somosbosteros-d6z0xyf.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Buen fin de semana
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/violencia_buen_fin_de_semana_by_somosbosteros-d6z0xzf.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| No hay nada que me haga reír mas
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/violencia_fascista_by_somosbosteros-d6z0xxq.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Llegó el verano
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/violencia_llego_el_verano_by_somosbosteros-d6z0xwn.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Corcho para todos
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/violencia_corcho_para_todos_by_somosbosteros-d6z0xyn.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| No me depilo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/violencia_no_me_depilo_by_somosbosteros-d6z0xwb.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Las banderas, las nacionalidades, las religiones
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/violencia_las_banderas_by_somosbosteros-d6z0xwv.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Profesores asesinos
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/profesores_asesinos_by_somosbosteros-d6z0y05.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Llegaron ya Los Reyes
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/micky_reyes_magos_by_somosbosteros-d6z431f.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Soy ario
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/soy_ario_micky_by_somosbosteros-d6z42u1.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| ¿Jesús era judío?
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/jesus_era_judio_by_somosbosteros-d6z4338.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Heil saludo a mi raza
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/heil_saludo_a_mi_raza_by_somosbosteros-d6z433t.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Feliz Navidad
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/feliz_navidad_by_somosbosteros-d6z43ud.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| He vuelto a pasear por mi barrio
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/he_vuelto_a_pasear_por_mi_barrio_by_somosbosteros-d6z434v.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| En las fiestas pasan cumbia
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/en_las_fiestas_pasan_cumbia_by_somosbosteros-d6z43uy.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Qué tendrá el mestizo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/que_tendra_el_mestizo_by_somosbosteros-d6z42yd.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Ario ario ario
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/ario_ario_ario_by_somosbosteros-d6z43xb.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Vino de un país vecino
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/vino_de_un_pais_vecino_by_somosbosteros-d6z42rc.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Vos podés darle una mano...
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/vos_podes_darle_una_mano_by_somosbosteros-d6z42r6.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Nazi Ángeles
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/nazi_angeles_by_somosbosteros-d6z42zd.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Dios hizo al negro
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/micky_dios_by_somosbosteros-d6z4324.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Que vaya a La Salada
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/que_vaya_a_la_salada_by_somosbosteros-d6z42vt.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| El problema no es que la pobreza exista
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/el_problema_no_es_by_somosbosteros-d6z43v8.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| A los pobres hay que entretenerlos
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/a_los_pobres_hay_que_entretenerlos_by_somosbosteros-d6z43yu.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| ¿Vos sabés lo qué hacemos por los chicos?
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/vos_sabes_by_somosbosteros-d6z42qt.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Es injusto que haya diferencias
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/es_injusto_que_haya_diferencias_by_somosbosteros-d6z43ur.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| ¿Cuál elegís?
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/cual_elegis_by_somosbosteros-d6z43vj.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Verano
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/verano_by_somosbosteros-d6z42sv.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Si no podés matar lo que te amenaza
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/mejor_tenerlo_entretenido_by_somosbosteros-d6z432k.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Tan parecido, tan diferente
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/como_distinguir_by_somosbosteros-d6z43wk.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Hago Pop para divertirme
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/yo_solamente_hago_pop_by_somosbosteros-d710pbh.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Acá si que no se coge
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/aca_si_que_no_se_coge_by_somosbosteros-d711fu5.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Forobardo Taringuero
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/forobardot_by_somosbosteros-d6znt2s.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Nunca la pongo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/nunca_la_pongo_by_somosbosteros-d711i21.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Raba con peluca
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/raba_con_peluca_by_somosbosteros-d6yusn0.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| No se te entiende una mierda
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/no_se_te_entiende_by_somosbosteros-d6yv02f.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| No lo soñeeee
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/no_lo_so_ntilde_e_capusotto_by_somosbosteros-d6zki4k.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Chica interne'
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/chica_internet_gif_2_by_somosbosteros-d6zj9gb.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Fibrón de carne
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/fibron_de_carne_by_somosbosteros-d6yuox9.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Sobala, chupala, mamala
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/chupala_mamala_sobala_lta_by_somosbosteros-d6yyggz.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Trincate a la mujer de tu amigo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/icardi_by_somosbosteros-d6zexzb.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Está hablando del faso
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/esta_hablando_del_faso_by_somosbosteros-d6z5ah0.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| El buchón
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/el_tipico_buchon_by_somosbosteros-d6zo12l.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Hablá bien la concha de tu hermana
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/habla_bien_la_concha_de_tu_hermana_by_somosbosteros-d6znzu7.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Cuarteto Obrero - Carlita
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/cuarteto_obrero___carlita_by_somosbosteros-d6zyli4.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Cuarteto Obrero - La caravana del amor
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/cuarteto_obrero___la_caravana_del_amor_by_somosbosteros-d6zyl0j.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Cuarteto Obrero - Que puta
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/cuarteto_obrero___que_puta_by_somosbosteros-d6zyky9.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Cuarteto Obrero - Si te agarro te parto en ocho
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/cuarteto_obrero___te_parto_en_8_by_somosbosteros-d6zykwl.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Cuarteto Obrero - Te voy a romper el orto
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/cuarteto_obrero___te_voy_a_romper_el_orto_by_somosbosteros-d6zykuy.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Cuarteto Obrero - Vení vení vení
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/cuarteto_obrero___veni_veni_veni_by_somosbosteros-d6zyku2.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Brasilero brasilero
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/brasilero_brasilero_by_somosbosteros-d6zyvlt.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Cuatro negros
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/cuatro_negros_by_somosbosteros-d6zyksf.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Fuí con Pikachu
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/fui_con_pikachu_by_somosbosteros-d6zyks9.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Jorge Lanata
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/jorge_lanata_by_somosbosteros-d6zykrv.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Karina, la divina
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/karina_la_divina_by_somosbosteros-d6zykha.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Mas arena
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/mas_arena_by_somosbosteros-d6zyked.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Me viven metiendo el palo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/me_viven_metiendo_el_palo_by_somosbosteros-d6zykdt.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Putas argentinas
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/putas_argentinas_by_somosbosteros-d6zykca.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Quiero ver al Chow Chow
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/quiero_ver_al_chow_chow_by_somosbosteros-d6zykbq.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Si elegís no la ponés
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/si_elegis_no_la_pones_by_somosbosteros-d6zyk9z.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| ¡Soplá la vela! (corto)
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/sopla_la_vela_corto_by_somosbosteros-d6zyk9p.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| ¡Soplá la vela! (largo)
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/sopla_la_vela_largo_by_somosbosteros-d6zyk9c.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Un poco de pan francés
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/un_poco_de_pan_frances_by_somosbosteros-d6zyk8p.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Churro, charuto
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/churro_charuto_by_somosbosteros-d70008g.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| ¿Te fumas un charuto de vez en cuando?
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/te_fumas_un_charuto_de_vez_en_cuando_by_somosbosteros-d700083.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Usted es un conchudo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/usted_es_un_conchudo_by_somosbosteros-d70007t.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Vos estás del lado de la droga
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/vos_estas_del_lado_de_la_droga_by_somosbosteros-d70007o.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Sos un mala leche
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/te_queria_decir_que_sos_un_mala_leche_by_somosbosteros-d70007z.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Ésta también te la muestro
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/esta_tambien_te_la_muestro_by_somosbosteros-d700088.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Lo que se me canta el forro del culo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/lo_que_se_me_canta_el_forro_del_culo_by_somosbosteros-d700085.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Uno menos
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/uno_menos_by_somosbosteros-d70007w.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Dos menos
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/dos_menos_by_somosbosteros-d70008e.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Atiendo boludos
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/atiendo_boludos_by_somosbosteros-d710nxk.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Me importa un carajo, tomatelá te dije
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/me_importa_un_carajo_by_somosbosteros-d710nxd.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| ¿Quién te conoce papá?
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/quien_te_conoce_papa_by_somosbosteros-d710nx8.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Sos boludo y no tenés huevos
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/so_boludo_y_no_tene_huevo_by_somosbosteros-d710nwu.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Y vos sos un boludo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/y_vos_sos_un_boludo_by_somosbosteros-d710nwj.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Basta chicos
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/basta_chicos_by_somosbosteros-d711get.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Perdón pero tengo las bolas llenas
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/tengo_las_bolas_llenas_by_somosbosteros-d711ixk.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Tentado de risa (Boomerang)
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/risa_by_somosbosteros-d711ijo.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Me rompiste la foto de Wanda
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/me_rompiste_la_foto_se_wanda_by_somosbosteros-d711htr.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| La tengo peludita
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/la_tengo_peludita_by_somosbosteros-d711gmw.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Mi morcilla negra
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/morcilla_negra_by_somosbosteros-d711hxa.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Si es una nena
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/si_es_una_nena_by_somosbosteros-d711it1.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Que la chupen
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/que_la_chupen_by_somosbosteros-d711i9q.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Que carajo sabes vos
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/que_carajo_sabes_vos_by_somosbosteros-d711i4r.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Hey por ahora
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/hey_por_ahora_by_somosbosteros-d711gid.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| ¿Querés que hagamos una fiesta?
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/queres_que_hagamos_una_fiesta_by_somosbosteros-d711ieq.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Te reivindicas
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/tonto_by_somosbosteros-d710q6k.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| What is love
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/what_is_love_by_somosbosteros-d710pfy.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Maestruli
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/maestruli_by_somosbosteros-d711h99.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Las gordas son para mi
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/todas_las_gordas_son_para_mi_by_somosbosteros-d710q95.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Me gustan gordas
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/me_gustan_gordas_by_somosbosteros-d711hku.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Una wacha piola
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/una_wacha_piola_by_somosbosteros-d6zfoxj.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Estamos todos jugados
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/t_at_nite_by_somosbosteros-d6ztntc.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Cara de tramposo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/facha_falcioni_2_by_somosbosteros-d6zzulq.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| La diabetes
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/diabetes_by_somosbosteros-d712g34.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Wi wi wi
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/queen_macri_by_somosbosteros-d6z93hs.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Chori
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/chori_by_somosbosteros-d6yuxsm.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Prende y apaga
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/prende_y_apaga_by_somosbosteros-d6zz1u7.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Hoy en 678
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/hoy_en_678_by_somosbosteros-d70378a.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Pará un poco Mozes
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/fantino_para_un_poco_mozes_by_somosbosteros-d6yyint.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Tengo duda...
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/duda_by_somosbosteros-d6yuxab.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Se están tirando con de todo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/con_de_todo_by_somosbosteros-d712ix1.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Homero astronauta
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/homero_astronauta_by_somosbosteros-d70yu4p.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Cama arriba, cama abajo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/cama_arriba_cama_abajo_by_somosbosteros-d70ytwx.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Esta grasa no se quita
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/esta_grasa_no_se_quita_by_somosbosteros-d70yu18.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Jajajaja... No entendí
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/jajaja_no_entendi_by_somosbosteros-d70ytk8.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| No vives de ensalada
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/no_vives_de_ensalada_by_somosbosteros-d70ysy1.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Ninguna señal del gato
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/ninguna_se_ntilde_al_del_gato_by_somosbosteros-d70ytgj.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| ¿Quiere leche?
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/quiere_leche_by_somosbosteros-d70ysu0.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Puerco araña
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/puercoarana_by_somosbosteros-d70ysvm.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| ¿Y si era tan listo por qué se murió?
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/y_si_era_tan_listo_por_que_se_murio_by_somosbosteros-d70ysoj.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Viernes de siluetas
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/viernes_de_siluetas_by_somosbosteros-d70ysqc.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| El Bananero soy yo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/el_bananero_soy_yo_by_somosbosteros-d70x6cz.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Haceme un petardo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/haceme_un_petardo_by_somosbosteros-d70x6cm.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Risa pelotuda
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/risa_pelotuda_by_somosbosteros-d70x66f.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Cerveza Melorto
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/musica_cerveza_melorto_by_somosbosteros-d70x69o.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Sapeee
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/sapeee_by_somosbosteros-d70x66b.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| El beso del chizito
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/musica_chizito_by_somosbosteros-d70x68u.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Sos un putón
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/musica_sos_un_puton_by_somosbosteros-d70x682.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Chica fina
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/musica_chica_fina_by_somosbosteros-d70x697.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Haceme un petete
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/musica_pete_de_wanda_by_somosbosteros-d70x68h.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Petea Wanda petea
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/petea_wanda_petea_by_somosbosteros-d70x67l.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Si vos no sos trola...
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/si_vos_no_sos_trola_by_somosbosteros-d70x668.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Wanda te tragas la guasca
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/wanda_te_tragas_la_guasca_by_somosbosteros-d70x65t.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| ¡A 20 el pete!
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/a_20_el_pete_by_somosbosteros-d70x6ds.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Putas Harry, putas
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/putas_harry_putas_by_somosbosteros-d70x670.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| La negra nos hace 2x1
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/la_negra_nos_hace_2x1_by_somosbosteros-d70x6bl.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| El Peluca sapeee
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/el_peluca_sapeee_by_somosbosteros-d70x6cr.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Mas bien lokita
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/mas_bien_lokita_by_somosbosteros-d70x6a7.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Paja grupal
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/paja_grupal_by_somosbosteros-d70x67u.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| John Salchichón
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/john_salchichon_by_somosbosteros-d70x6bt.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Por meterte con mi zona
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/por_meterte_en_mi_zona_by_somosbosteros-d70x67c.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Llegó el lecherooo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/llego_el_lechero_by_somosbosteros-d70x6af.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Quiero ver gotas
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/quiero_ver_gotas_by_somosbosteros-d70x66m.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Soy un trolazooo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/soy_un_trolazooo_by_somosbosteros-d70x65z.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Llegó el bigoteee
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/llego_el_bigote_by_somosbosteros-d70x6as.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Soy un trolazo, me gusta el pedazo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/soy_un_trolazo_by_somosbosteros-d70x661.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Acabar con Iván
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/acabar_con_ivan_by_somosbosteros-d70x6de.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| La sin hueso
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/la_sin_hueso_by_somosbosteros-d70x6bi.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Abuela soy putazo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/abuela_soy_putazo_by_somosbosteros-d70x6dn.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Soplame la vela
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/soplame_la_vela_by_somosbosteros-d70x664.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Le disparé en las rodillas
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/le_dispare_en_las_rodillas_by_somosbosteros-d70x6b3.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Me hago una tuerta
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/me_hago_una_tuerta_by_somosbosteros-d70x69v.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Quedé pal' asilo
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/quede_pal_asilo_by_somosbosteros-d70x66r.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        div.col-md-3.thumbnail
            span.title| Mas bien viejita
            div.caption
                iframe(onload='lzld(this)' src='about:blank' data-src='swf/mas_bien_viejita_by_somosbosteros-d70x6a0.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
