extends layout

block content
    h1= title
    div
        | Brindar con meo
        embed(src='http://fc03.deviantart.net/fs71/f/2013/355/a/5/violencia___brindar_con_meo_by_somosbosteros-d6yupvl.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Anteojos de ver pelotudas
        embed(src='http://fc02.deviantart.net/fs70/f/2013/357/c/1/violencia_anteojos_pelotudas_by_somosbosteros-d6z0xzn.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Feliz Año Nuevo
        embed(src='http://fc08.deviantart.net/fs70/f/2013/357/2/3/violencia_feliz_a_ntilde_o_nuevo_by_somosbosteros-d6z0xxe.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | El pase a la CDTH
        embed(src='http://fc02.deviantart.net/fs70/f/2013/357/2/b/violencia_el_pase_a_la_cdth_by_somosbosteros-d6z0xxy.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Metete tu cariño en el culo
        embed(src='http://fc06.deviantart.net/fs70/f/2013/357/2/7/violencia_metete_tu_cari_ntilde_o_en_el_culo_by_somosbosteros-d6z0xwg.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Día del sorete a pedal
        embed(src='http://fc09.deviantart.net/fs70/f/2013/357/d/6/violencia_dia_del_sorete_a_pedal_by_somosbosteros-d6z0xyf.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Buen fin de semana
        embed(src='http://fc00.deviantart.net/fs70/f/2013/357/e/6/violencia_buen_fin_de_semana_by_somosbosteros-d6z0xzf.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | No hay nada que me haga reír mas
        embed(src='http://fc05.deviantart.net/fs70/f/2013/357/9/2/violencia_fascista_by_somosbosteros-d6z0xxq.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Llegó el verano
        embed(src='http://fc08.deviantart.net/fs70/f/2013/357/0/b/violencia_llego_el_verano_by_somosbosteros-d6z0xwn.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Corcho para todos
        embed(src='http://fc02.deviantart.net/fs71/f/2013/357/6/1/violencia_corcho_para_todos_by_somosbosteros-d6z0xyn.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | No me depilo
        embed(src='http://fc06.deviantart.net/fs71/f/2013/357/7/e/violencia_no_me_depilo_by_somosbosteros-d6z0xwb.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Las banderas, las nacionalidades, las religiones
        embed(src='http://fc05.deviantart.net/fs71/f/2013/357/5/5/violencia_las_banderas_by_somosbosteros-d6z0xwv.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Profesores asesinos
        embed(src='http://fc03.deviantart.net/fs71/f/2013/357/8/b/profesores_asesinos_by_somosbosteros-d6z0y05.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Llegaron ya Los Reyes
        embed(src='http://fc00.deviantart.net/fs71/f/2013/357/7/b/micky_reyes_magos_by_somosbosteros-d6z431f.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Soy ario
        embed(src='http://fc01.deviantart.net/fs71/f/2013/357/e/8/soy_ario_micky_by_somosbosteros-d6z42u1.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | ¿Jesús era judío?
        embed(src='http://fc02.deviantart.net/fs71/f/2013/357/4/f/jesus_era_judio_by_somosbosteros-d6z4338.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Heil saludo a mi raza
        embed(src='http://fc05.deviantart.net/fs70/f/2013/357/a/c/heil_saludo_a_mi_raza_by_somosbosteros-d6z433t.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Feliz Navidad
        embed(src='http://fc04.deviantart.net/fs70/f/2013/357/c/0/feliz_navidad_by_somosbosteros-d6z43ud.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | He vuelto a pasear por mi barrio
        embed(src='http://fc04.deviantart.net/fs70/f/2013/357/0/d/he_vuelto_a_pasear_por_mi_barrio_by_somosbosteros-d6z434v.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | En las fiestas pasan cumbia
        embed(src='http://fc02.deviantart.net/fs71/f/2013/357/3/6/en_las_fiestas_pasan_cumbia_by_somosbosteros-d6z43uy.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Qué tendrá el mestizo
        embed(src='http://fc05.deviantart.net/fs71/f/2013/357/d/b/que_tendra_el_mestizo_by_somosbosteros-d6z42yd.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Ario ario ario
        embed(src='http://fc07.deviantart.net/fs70/f/2013/357/9/e/ario_ario_ario_by_somosbosteros-d6z43xb.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Vino de un país vecino
        embed(src='http://fc06.deviantart.net/fs70/f/2013/357/b/8/vino_de_un_pais_vecino_by_somosbosteros-d6z42rc.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Vos podés darle una mano...
        embed(src='http://fc00.deviantart.net/fs71/f/2013/357/f/9/vos_podes_darle_una_mano_by_somosbosteros-d6z42r6.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Nazi Ángeles
        embed(src='http://fc04.deviantart.net/fs70/f/2013/357/8/1/nazi_angeles_by_somosbosteros-d6z42zd.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Dios hizo al negro
        embed(src='http://fc08.deviantart.net/fs70/f/2013/357/5/1/micky_dios_by_somosbosteros-d6z4324.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Que vaya a La Salada
        embed(src='http://fc04.deviantart.net/fs70/f/2013/357/5/4/que_vaya_a_la_salada_by_somosbosteros-d6z42vt.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | El problema no es que la pobreza exista
        embed(src='http://fc05.deviantart.net/fs71/f/2013/357/8/3/el_problema_no_es_by_somosbosteros-d6z43v8.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | A los pobres hay que entretenerlos
        embed(src='http://fc05.deviantart.net/fs70/f/2013/357/4/8/a_los_pobres_hay_que_entretenerlos_by_somosbosteros-d6z43yu.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | ¿Vos sabés lo qué hacemos por los chicos?
        embed(src='http://fc08.deviantart.net/fs71/f/2013/357/0/4/vos_sabes_by_somosbosteros-d6z42qt.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Es injusto que haya diferencias
        embed(src='http://fc09.deviantart.net/fs71/f/2013/357/a/5/es_injusto_que_haya_diferencias_by_somosbosteros-d6z43ur.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | ¿Cuál elegís?
        embed(src='http://fc03.deviantart.net/fs70/f/2013/357/5/e/cual_elegis_by_somosbosteros-d6z43vj.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Verano
        embed(src='http://fc08.deviantart.net/fs70/f/2013/357/8/9/verano_by_somosbosteros-d6z42sv.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Si no podés matar lo que te amenaza
        embed(src='http://fc05.deviantart.net/fs71/f/2013/357/f/6/mejor_tenerlo_entretenido_by_somosbosteros-d6z432k.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Tan parecido, tan diferente
        embed(src='http://fc02.deviantart.net/fs71/f/2013/357/5/0/como_distinguir_by_somosbosteros-d6z43wk.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Hago Pop para divertirme
        embed(src='http://fc03.deviantart.net/fs70/f/2014/005/c/6/yo_solamente_hago_pop_by_somosbosteros-d710pbh.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Acá si que no se coge
        embed(src='http://fc01.deviantart.net/fs70/f/2014/005/3/a/aca_si_que_no_se_coge_by_somosbosteros-d711fu5.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Forobardo Taringuero
        embed(src='http://fc07.deviantart.net/fs70/f/2013/361/c/9/forobardot_by_somosbosteros-d6znt2s.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Nunca la pongo
        embed(src='http://fc09.deviantart.net/fs70/f/2014/005/9/a/nunca_la_pongo_by_somosbosteros-d711i21.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Raba con peluca
        embed(src='http://fc01.deviantart.net/fs71/f/2013/355/7/d/raba_con_peluca_by_somosbosteros-d6yusn0.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | No se te entiende una mierda
        embed(src='http://fc08.deviantart.net/fs70/f/2013/355/f/1/no_se_te_entiende_by_somosbosteros-d6yv02f.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | No lo soñeeee
        embed(src='http://fc08.deviantart.net/fs70/f/2013/360/5/0/no_lo_so_ntilde_e_capusotto_by_somosbosteros-d6zki4k.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Chica interne'
        embed(src='http://fc05.deviantart.net/fs71/f/2013/360/7/4/chica_internet_gif_2_by_somosbosteros-d6zj9gb.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Fibrón de carne
        embed(src='http://fc07.deviantart.net/fs71/f/2013/355/7/0/fibron_de_carne_by_somosbosteros-d6yuox9.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Sobala, chupala, mamala
        embed(src='http://fc05.deviantart.net/fs71/f/2013/356/0/9/chupala_mamala_sobala_lta_by_somosbosteros-d6yyggz.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Trincate a la mujer de tu amigo
        embed(src='http://fc01.deviantart.net/fs70/f/2013/359/e/1/icardi_by_somosbosteros-d6zexzb.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Está hablando del faso
        embed(src='http://fc00.deviantart.net/fs71/f/2013/357/0/1/esta_hablando_del_faso_by_somosbosteros-d6z5ah0.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | El buchón
        embed(src='http://fc02.deviantart.net/fs71/f/2013/361/f/7/el_tipico_buchon_by_somosbosteros-d6zo12l.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Hablá bien la concha de tu hermana
        embed(src='http://fc01.deviantart.net/fs71/f/2013/361/4/7/habla_bien_la_concha_de_tu_hermana_by_somosbosteros-d6znzu7.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Cuarteto Obrero - Carlita
        embed(src='http://fc06.deviantart.net/fs71/f/2013/363/9/1/cuarteto_obrero___carlita_by_somosbosteros-d6zyli4.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Cuarteto Obrero - La caravana del amor
        embed(src='http://fc06.deviantart.net/fs70/f/2013/363/1/8/cuarteto_obrero___la_caravana_del_amor_by_somosbosteros-d6zyl0j.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Cuarteto Obrero - Que puta
        embed(src='http://fc00.deviantart.net/fs71/f/2013/363/d/6/cuarteto_obrero___que_puta_by_somosbosteros-d6zyky9.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Cuarteto Obrero - Si te agarro te parto en ocho
        embed(src='http://fc06.deviantart.net/fs71/f/2013/363/5/e/cuarteto_obrero___te_parto_en_8_by_somosbosteros-d6zykwl.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Cuarteto Obrero - Te voy a romper el orto
        embed(src='http://fc06.deviantart.net/fs70/f/2013/363/7/b/cuarteto_obrero___te_voy_a_romper_el_orto_by_somosbosteros-d6zykuy.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Cuarteto Obrero - Vení vení vení
        embed(src='http://fc09.deviantart.net/fs70/f/2013/363/8/f/cuarteto_obrero___veni_veni_veni_by_somosbosteros-d6zyku2.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Brasilero brasilero
        embed(src='http://fc07.deviantart.net/fs71/f/2013/363/d/9/brasilero_brasilero_by_somosbosteros-d6zyvlt.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Cuatro negros
        embed(src='http://fc00.deviantart.net/fs71/f/2013/363/c/6/cuatro_negros_by_somosbosteros-d6zyksf.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Fuí con Pikachu
        embed(src='http://fc03.deviantart.net/fs70/f/2013/363/4/7/fui_con_pikachu_by_somosbosteros-d6zyks9.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Jorge Lanata
        embed(src='http://fc00.deviantart.net/fs70/f/2013/363/6/3/jorge_lanata_by_somosbosteros-d6zykrv.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Karina, la divina
        embed(src='http://fc05.deviantart.net/fs71/f/2013/363/a/c/karina_la_divina_by_somosbosteros-d6zykha.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Mas arena
        embed(src='http://fc09.deviantart.net/fs70/f/2013/363/c/8/mas_arena_by_somosbosteros-d6zyked.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Me viven metiendo el palo
        embed(src='http://fc00.deviantart.net/fs71/f/2013/363/d/8/me_viven_metiendo_el_palo_by_somosbosteros-d6zykdt.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Putas argentinas
        embed(src='http://fc05.deviantart.net/fs70/f/2013/363/4/5/putas_argentinas_by_somosbosteros-d6zykca.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Quiero ver al Chow Chow
        embed(src='http://fc04.deviantart.net/fs70/f/2013/363/5/e/quiero_ver_al_chow_chow_by_somosbosteros-d6zykbq.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Si elegís no la ponés
        embed(src='http://fc08.deviantart.net/fs70/f/2013/363/d/4/si_elegis_no_la_pones_by_somosbosteros-d6zyk9z.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | ¡Soplá la vela! (corto)
        embed(src='http://fc02.deviantart.net/fs70/f/2013/363/3/c/sopla_la_vela_corto_by_somosbosteros-d6zyk9p.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | ¡Soplá la vela! (largo)
        embed(src='http://fc02.deviantart.net/fs71/f/2013/363/d/7/sopla_la_vela_largo_by_somosbosteros-d6zyk9c.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Un poco de pan francés
        embed(src='http://fc00.deviantart.net/fs71/f/2013/363/6/7/un_poco_de_pan_frances_by_somosbosteros-d6zyk8p.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Churro, charuto
        embed(src='http://fc06.deviantart.net/fs71/f/2013/364/a/4/churro_charuto_by_somosbosteros-d70008g.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | ¿Te fumas un charuto de vez en cuando?
        embed(src='http://fc01.deviantart.net/fs71/f/2013/364/0/1/te_fumas_un_charuto_de_vez_en_cuando_by_somosbosteros-d700083.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Usted es un conchudo
        embed(src='http://fc05.deviantart.net/fs71/f/2013/364/f/a/usted_es_un_conchudo_by_somosbosteros-d70007t.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Vos estás del lado de la droga
        embed(src='http://fc01.deviantart.net/fs70/f/2013/364/4/e/vos_estas_del_lado_de_la_droga_by_somosbosteros-d70007o.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Sos un mala leche
        embed(src='http://fc06.deviantart.net/fs70/f/2013/364/f/2/te_queria_decir_que_sos_un_mala_leche_by_somosbosteros-d70007z.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Ésta también te la muestro
        embed(src='http://fc08.deviantart.net/fs71/f/2013/364/f/4/esta_tambien_te_la_muestro_by_somosbosteros-d700088.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Lo que se me canta el forro del culo
        embed(src='http://fc02.deviantart.net/fs70/f/2013/364/6/6/lo_que_se_me_canta_el_forro_del_culo_by_somosbosteros-d700085.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Uno menos
        embed(src='http://fc04.deviantart.net/fs71/f/2013/364/e/4/uno_menos_by_somosbosteros-d70007w.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Dos menos
        embed(src='http://fc08.deviantart.net/fs70/f/2013/364/0/9/dos_menos_by_somosbosteros-d70008e.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Atiendo boludos
        embed(src='http://fc03.deviantart.net/fs70/f/2014/005/a/9/atiendo_boludos_by_somosbosteros-d710nxk.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Me importa un carajo, tomatelá te dije
        embed(src='http://fc02.deviantart.net/fs70/f/2014/005/8/8/me_importa_un_carajo_by_somosbosteros-d710nxd.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | ¿Quién te conoce papá?
        embed(src='http://fc01.deviantart.net/fs70/f/2014/005/9/8/quien_te_conoce_papa_by_somosbosteros-d710nx8.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Sos boludo y no tenés huevos
        embed(src='http://fc05.deviantart.net/fs70/f/2014/005/5/9/so_boludo_y_no_tene_huevo_by_somosbosteros-d710nwu.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Y vos sos un boludo
        embed(src='http://fc09.deviantart.net/fs71/f/2014/005/0/0/y_vos_sos_un_boludo_by_somosbosteros-d710nwj.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Basta chicos
        embed(src='http://fc00.deviantart.net/fs70/f/2014/005/3/e/basta_chicos_by_somosbosteros-d711get.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Perdón pero tengo las bolas llenas
        embed(src='http://fc09.deviantart.net/fs70/f/2014/005/6/c/tengo_las_bolas_llenas_by_somosbosteros-d711ixk.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Tentado de risa (Boomerang)
        embed(src='http://fc02.deviantart.net/fs71/f/2014/005/9/6/risa_by_somosbosteros-d711ijo.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Me rompiste la foto de Wanda
        embed(src='http://fc02.deviantart.net/fs71/f/2014/005/f/1/me_rompiste_la_foto_se_wanda_by_somosbosteros-d711htr.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | La tengo peludita
        embed(src='http://fc05.deviantart.net/fs71/f/2014/005/4/2/la_tengo_peludita_by_somosbosteros-d711gmw.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Mi morcilla negra
        embed(src='http://fc00.deviantart.net/fs71/f/2014/005/a/1/morcilla_negra_by_somosbosteros-d711hxa.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Si es una nena
        embed(src='http://fc01.deviantart.net/fs71/f/2014/005/d/f/si_es_una_nena_by_somosbosteros-d711it1.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Que la chupen
        embed(src='http://fc06.deviantart.net/fs71/f/2014/005/e/8/que_la_chupen_by_somosbosteros-d711i9q.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Que carajo sabes vos
        embed(src='http://fc05.deviantart.net/fs71/f/2014/005/c/7/que_carajo_sabes_vos_by_somosbosteros-d711i4r.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Hey por ahora
        embed(src='http://fc08.deviantart.net/fs70/f/2014/005/f/7/hey_por_ahora_by_somosbosteros-d711gid.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | ¿Querés que hagamos una fiesta?
        embed(src='http://fc05.deviantart.net/fs70/f/2014/005/8/8/queres_que_hagamos_una_fiesta_by_somosbosteros-d711ieq.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Te reivindicas
        embed(src='http://fc03.deviantart.net/fs70/f/2014/005/1/e/tonto_by_somosbosteros-d710q6k.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | What is love
        embed(src='http://fc07.deviantart.net/fs70/f/2014/005/4/a/what_is_love_by_somosbosteros-d710pfy.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Maestruli
        embed(src='http://fc05.deviantart.net/fs70/f/2014/005/3/7/maestruli_by_somosbosteros-d711h99.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Las gordas son para mi
        embed(src='http://fc04.deviantart.net/fs71/f/2014/005/6/7/todas_las_gordas_son_para_mi_by_somosbosteros-d710q95.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Me gustan gordas
        embed(src='http://fc03.deviantart.net/fs71/f/2014/005/f/4/me_gustan_gordas_by_somosbosteros-d711hku.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Una wacha piola
        embed(src='http://fc08.deviantart.net/fs70/f/2013/359/0/8/una_wacha_piola_by_somosbosteros-d6zfoxj.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Estamos todos jugados
        embed(src='http://fc08.deviantart.net/fs70/f/2013/362/0/b/t_at_nite_by_somosbosteros-d6ztntc.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Cara de tramposo
        embed(src='http://fc02.deviantart.net/fs71/f/2013/364/a/7/facha_falcioni_2_by_somosbosteros-d6zzulq.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | La diabetes
        embed(src='http://fc02.deviantart.net/fs70/f/2014/005/9/7/diabetes_by_somosbosteros-d712g34.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Wi wi wi
        embed(src='http://fc02.deviantart.net/fs71/f/2013/358/5/e/queen_macri_by_somosbosteros-d6z93hs.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Chori
        embed(src='http://fc04.deviantart.net/fs71/f/2013/355/b/9/chori_by_somosbosteros-d6yuxsm.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Prende y apaga
        embed(src='http://fc00.deviantart.net/fs70/f/2013/363/4/0/prende_y_apaga_by_somosbosteros-d6zz1u7.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Hoy en 678
        embed(src='http://fc05.deviantart.net/fs70/f/2013/364/2/3/hoy_en_678_by_somosbosteros-d70378a.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Pará un poco Mozes
        embed(src='http://fc07.deviantart.net/fs71/f/2013/356/e/1/fantino_para_un_poco_mozes_by_somosbosteros-d6yyint.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Tengo duda...
        embed(src='http://fc05.deviantart.net/fs71/f/2013/355/c/6/duda_by_somosbosteros-d6yuxab.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Se están tirando con de todo
        embed(src='http://fc02.deviantart.net/fs70/f/2014/005/9/d/con_de_todo_by_somosbosteros-d712ix1.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Homero astronauta
        embed(src='http://fc03.deviantart.net/fs70/f/2014/005/3/b/homero_astronauta_by_somosbosteros-d70yu4p.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Cama arriba, cama abajo
        embed(src='http://fc04.deviantart.net/fs71/f/2014/005/c/8/cama_arriba_cama_abajo_by_somosbosteros-d70ytwx.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Esta grasa no se quita
        embed(src='http://fc07.deviantart.net/fs71/f/2014/005/7/5/esta_grasa_no_se_quita_by_somosbosteros-d70yu18.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Jajajaja... No entendí
        embed(src='http://fc05.deviantart.net/fs70/f/2014/005/7/a/jajaja_no_entendi_by_somosbosteros-d70ytk8.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | No vives de ensalada
        embed(src='http://fc03.deviantart.net/fs71/f/2014/005/5/6/no_vives_de_ensalada_by_somosbosteros-d70ysy1.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Ninguna señal del gato
        embed(src='http://fc02.deviantart.net/fs71/f/2014/005/d/d/ninguna_se_ntilde_al_del_gato_by_somosbosteros-d70ytgj.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | ¿Quiere leche?
        embed(src='http://fc08.deviantart.net/fs70/f/2014/005/8/8/quiere_leche_by_somosbosteros-d70ysu0.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Puerco araña
        embed(src='http://fc09.deviantart.net/fs71/f/2014/005/6/6/puercoarana_by_somosbosteros-d70ysvm.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | ¿Y si era tan listo por qué se murió?
        embed(src='http://fc01.deviantart.net/fs71/f/2014/005/3/3/y_si_era_tan_listo_por_que_se_murio_by_somosbosteros-d70ysoj.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Viernes de siluetas
        embed(src='http://fc01.deviantart.net/fs70/f/2014/005/1/6/viernes_de_siluetas_by_somosbosteros-d70ysqc.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | El Bananero soy yo
        embed(src='http://fc02.deviantart.net/fs70/f/2014/005/3/5/el_bananero_soy_yo_by_somosbosteros-d70x6cz.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Haceme un petardo
        embed(src='http://fc04.deviantart.net/fs71/f/2014/005/3/6/haceme_un_petardo_by_somosbosteros-d70x6cm.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Risa pelotuda
        embed(src='http://fc05.deviantart.net/fs71/f/2014/005/b/c/risa_pelotuda_by_somosbosteros-d70x66f.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Cerveza Melorto
        embed(src='http://fc02.deviantart.net/fs71/f/2014/005/6/b/musica_cerveza_melorto_by_somosbosteros-d70x69o.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Sapeee
        embed(src='http://fc04.deviantart.net/fs71/f/2014/005/e/9/sapeee_by_somosbosteros-d70x66b.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | El beso del chizito
        embed(src='http://fc01.deviantart.net/fs70/f/2014/005/0/6/musica_chizito_by_somosbosteros-d70x68u.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Sos un putón
        embed(src='http://fc04.deviantart.net/fs70/f/2014/005/d/9/musica_sos_un_puton_by_somosbosteros-d70x682.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Chica fina
        embed(src='http://fc00.deviantart.net/fs70/f/2014/005/a/f/musica_chica_fina_by_somosbosteros-d70x697.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Haceme un petete
        embed(src='http://fc06.deviantart.net/fs71/f/2014/005/6/1/musica_pete_de_wanda_by_somosbosteros-d70x68h.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Petea Wanda petea
        embed(src='http://fc01.deviantart.net/fs71/f/2014/005/e/b/petea_wanda_petea_by_somosbosteros-d70x67l.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Si vos no sos trola...
        embed(src='http://fc06.deviantart.net/fs71/f/2014/005/f/1/si_vos_no_sos_trola_by_somosbosteros-d70x668.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Wanda te tragas la guasca
        embed(src='http://fc02.deviantart.net/fs70/f/2014/005/4/d/wanda_te_tragas_la_guasca_by_somosbosteros-d70x65t.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | ¡A 20 el pete!
        embed(src='http://fc06.deviantart.net/fs70/f/2014/005/2/b/a_20_el_pete_by_somosbosteros-d70x6ds.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Putas Harry, putas
        embed(src='http://fc01.deviantart.net/fs70/f/2014/005/4/6/putas_harry_putas_by_somosbosteros-d70x670.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | La negra nos hace 2x1
        embed(src='http://fc09.deviantart.net/fs71/f/2014/005/7/2/la_negra_nos_hace_2x1_by_somosbosteros-d70x6bl.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | El Peluca sapeee
        embed(src='http://fc06.deviantart.net/fs70/f/2014/005/7/5/el_peluca_sapeee_by_somosbosteros-d70x6cr.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Mas bien lokita
        embed(src='http://fc02.deviantart.net/fs71/f/2014/005/e/6/mas_bien_lokita_by_somosbosteros-d70x6a7.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Paja grupal
        embed(src='http://fc02.deviantart.net/fs70/f/2014/005/2/4/paja_grupal_by_somosbosteros-d70x67u.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | John Salchichón
        embed(src='http://fc04.deviantart.net/fs71/f/2014/005/c/1/john_salchichon_by_somosbosteros-d70x6bt.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Por meterte con mi zona
        embed(src='http://fc00.deviantart.net/fs71/f/2014/005/d/b/por_meterte_en_mi_zona_by_somosbosteros-d70x67c.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Llegó el lecherooo
        embed(src='http://fc08.deviantart.net/fs71/f/2014/005/7/3/llego_el_lechero_by_somosbosteros-d70x6af.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Quiero ver gotas
        embed(src='http://fc08.deviantart.net/fs71/f/2014/005/4/d/quiero_ver_gotas_by_somosbosteros-d70x66m.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Soy un trolazooo
        embed(src='http://fc04.deviantart.net/fs70/f/2014/005/d/3/soy_un_trolazooo_by_somosbosteros-d70x65z.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Llegó el bigoteee
        embed(src='http://fc04.deviantart.net/fs70/f/2014/005/9/e/llego_el_bigote_by_somosbosteros-d70x6as.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Soy un trolazo, me gusta el pedazo
        embed(src='http://fc04.deviantart.net/fs70/f/2014/005/f/d/soy_un_trolazo_by_somosbosteros-d70x661.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Acabar con Iván
        embed(src='http://fc09.deviantart.net/fs71/f/2014/005/d/9/acabar_con_ivan_by_somosbosteros-d70x6de.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | La sin hueso
        embed(src='http://fc04.deviantart.net/fs71/f/2014/005/0/d/la_sin_hueso_by_somosbosteros-d70x6bi.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Abuela soy putazo
        embed(src='http://fc06.deviantart.net/fs70/f/2014/005/6/7/abuela_soy_putazo_by_somosbosteros-d70x6dn.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Soplame la vela
        embed(src='http://fc03.deviantart.net/fs70/f/2014/005/9/b/soplame_la_vela_by_somosbosteros-d70x664.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Le disparé en las rodillas
        embed(src='http://fc09.deviantart.net/fs71/f/2014/005/8/f/le_dispare_en_las_rodillas_by_somosbosteros-d70x6b3.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Me hago una tuerta
        embed(src='http://fc05.deviantart.net/fs70/f/2014/005/4/9/me_hago_una_tuerta_by_somosbosteros-d70x69v.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Quedé pal' asilo
        embed(src='http://fc00.deviantart.net/fs71/f/2014/005/4/f/quede_pal_asilo_by_somosbosteros-d70x66r.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
        | Mas bien viejita
        embed(src='http://fc03.deviantart.net/fs70/f/2014/005/7/2/mas_bien_viejita_by_somosbosteros-d70x6a0.swf', quality='high', width='210', height='125', type='application/x-shockwave-flash', allownetworking='internal', allowscriptaccess='never', autoplay='false', wmode='transparent')
